In [64]:
import pandas as pd
import numpy as np
import pickle

with open('WESAD2/All_ID.pkl', 'rb') as file:
    data = pickle.load(file, encoding='latin1')

In [65]:
data

{'data': {'ACC': array([[[  126.32624263, -1012.3755119 ,  1296.16359523],
          [  233.10128359,  -738.13483315,   636.76661552],
          [  411.0596852 ,  -738.13483315,  1024.64719182],
          ...,
          [  138.19013607,  -772.414918  ,  1024.64719182],
          [   78.87066887,  -772.414918  ,  1024.64719182],
          [   67.00677543,  -601.01449378,  1218.58747997]],

         [[   90.73456231,  -669.57466347,   636.76661552],
          [   78.87066887,  -635.29457863,   636.76661552],
          [  114.46234919,  -601.01449378,   753.13078841],
          ...,
          [  -16.04047865,  -635.29457863,  1179.79942234],
          [  -16.04047865,  -601.01449378,  1141.01136471],
          [  -27.90437209,  -635.29457863,  1218.58747997]],

         [[  -27.90437209,  -498.17423926,  1218.58747997],
          [  -63.49605241,  -498.17423926,  1179.79942234],
          [  -27.90437209,  -498.17423926,  1102.22330708],
          ...,
          [  -27.90437209,  -669.57466347,  1218.58747997],
          [  -27.90437209,  -635.29457863,  1218.58747997],
          [  -27.90437209,  -635.29457863,  1218.58747997]],

         ...,

         [[   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116],
          ...,
          [   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116]],

         [[   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116],
          ...,
          [   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116]],

         [[   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116],
          ...,
          [   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116],
          [   57.65252751,   918.94055149,   887.25155116]]]),
  'BVP': array([[[ 13.5708015 ],
          [ 13.1440063 ],
          [ 13.03286172],
          ...,
          [-91.53640896],
          [-71.45035969],
          [-54.01399731]],

         [[ 41.93045363],
          [ 42.3928151 ],
          [ 40.00542943],
          ...,
          [ 23.84945266],
          [ 23.1959225 ],
          [ 21.51541639]],

         [[-39.92975559],
          [-28.53521281],
          [-18.92342916],
          ...,
          [ 27.3127179 ],
          [ 22.71133211],
          [ 13.43298222]],

         ...,

         [[  5.41429826],
          [  3.70627653],
          [  2.11212292],
          ...,
          [  9.52620242],
          [  8.86829775],
          [  8.04591692]],

         [[  2.02355883],
          [  5.03473787],
          [  7.3374042 ],
          ...,
          [  4.90821775],
          [  7.35005622],
          [  9.45029034]],

         [[  6.97049583],
          [  5.5534704 ],
          [  3.83279666],
          ...,
          [ -4.3404036 ],
          [ -5.83334111],
          [ -7.4021907 ]]]),
  'EDA': array([[[ 5452.45036511],
          [ 5366.84684757],
          [ 5264.12262651],
          [ 5115.74616534]],

         [[ 5264.12262651],
          [ 5115.74616534],
          [ 5127.15699843],
          [ 5013.02194429]],

         [[ 5127.15699843],
          [ 5013.02194429],
          [ 5372.55671799],
          [ 5235.59108991]],

         ...,

         [[-1141.51599081],
          [-1141.51599081],
          [-1136.58907948],
          [-1151.36596433]],

         [[-1136.58907948],
          [-1151.36596433],
          [-1141.51599081],
          [-1141.51599081]],

         [[-1141.51599081],
          [-1141.51599081],
          [-1136.58907948],
          [-1151.36596433]]]),
  'TEMP': array([[[ 10279.72209064],
          [ 10279.72209064],
          [ 10279.72209064],
          [ 10279.72209064]],

         [[ 10279.72209064],
          [ 10279.72209064],
          [ 10279.72209064],
          [ 10279.72209064]],

         [[ 10279.72209064],
          [ 10279.72209064],
          [ 10279.72209064],
          [ 10279.72209064]],

         ...,

         [[-11802.68311157],
          [-11802.68311157],
          [-11802.68311157],
          [-11802.68311157]],

         [[-11802.68311157],
          [-11802.68311157],
          [-11802.68311157],
          [-11412.91762831]],

         [[-11802.68311157],
          [-11412.91762831],
          [-11412.91762831],
          [-11412.91762831]]])},
 'labels': array([0., 0., 0., ..., 0., 0., 0.]),
 'id': array(['2', '2', '2', ..., '17', '17', '17'], dtype='<U32')}

In [7]:
print(data.keys())

dict_keys(['data', 'labels', 'id'])

In [9]:
print(data['data'].keys())

dict_keys(['ACC', 'BVP', 'EDA', 'TEMP'])

In [12]:
# vzorkovacie frekvencie
ACC_SF = 32
BVP_SF = 64
EDA_SF = 4
TEMP_SF = 4

#vytvorenie df pre každú premennú
acc_df = pd.DataFrame(data['data']['ACC'].reshape(-1, 3), columns=[f'ACC_{i}' for i in range(3)])
bvp_df = pd.DataFrame(data['data']['BVP'].reshape(-1, 1), columns=['BVP'])
eda_df = pd.DataFrame(data['data']['EDA'].reshape(-1, 1), columns=['EDA'])
temp_df = pd.DataFrame(data['data']['TEMP'].reshape(-1, 1), columns=['TEMP'])

# prevzorkovanie
acc_df.index = pd.date_range(start='2024-01-01', periods=len(acc_df), freq=f'{1/ACC_SF}S')
bvp_df.index = pd.date_range(start='2024-01-01', periods=len(bvp_df), freq=f'{1/BVP_SF}S')
eda_df.index = pd.date_range(start='2024-01-01', periods=len(eda_df), freq=f'{1/EDA_SF}S')
temp_df.index = pd.date_range(start='2024-01-01', periods=len(temp_df), freq=f'{1/TEMP_SF}S')

combined_df = pd.concat([acc_df, bvp_df, eda_df, temp_df], axis=1)

In [13]:
combined_df

,ACC_0,ACC_1,ACC_2,BVP,EDA,TEMP
2024-01-01 00:00:00.000000,126.326243,-1012.375512,1296.163595,13.570802,5452.450365,10279.722091
2024-01-01 00:00:00.015625,NaN,NaN,NaN,13.144006,NaN,NaN
2024-01-01 00:00:00.031250,233.101284,-738.134833,636.766616,13.032862,NaN,NaN
2024-01-01 00:00:00.046875,NaN,NaN,NaN,12.975067,NaN,NaN
2024-01-01 00:00:00.062500,411.059685,-738.134833,1024.647192,12.855030,NaN,NaN
...,...,...,...,...,...,...
2024-01-01 21:52:45.921875,NaN,NaN,NaN,-1.379833,NaN,NaN
2024-01-01 21:52:45.937500,57.652528,918.940551,887.251551,-2.860118,NaN,NaN
2024-01-01 21:52:45.953125,NaN,NaN,NaN,-4.340404,NaN,NaN
2024-01-01 21:52:45.968750,57.652528,918.940551,887.251551,-5.833341,NaN,NaN
2024-01-01 21:52:45.984375,NaN,NaN,NaN,-7.402191,NaN,NaN

In [17]:
ACC_SF = 32
BVP_SF = 64
EDA_SF = 4
TEMP_SF = 4
LABELS_SF = 700  #pridávam labels

acc_df = pd.DataFrame(data['data']['ACC'].reshape(-1, 3), columns=[f'ACC_{i}' for i in range(3)])
bvp_df = pd.DataFrame(data['data']['BVP'].reshape(-1, 1), columns=['BVP'])
eda_df = pd.DataFrame(data['data']['EDA'].reshape(-1, 1), columns=['EDA'])
temp_df = pd.DataFrame(data['data']['TEMP'].reshape(-1, 1), columns=['TEMP'])

acc_df.index = pd.date_range(start='2024-01-01', periods=len(acc_df), freq=f'{1/ACC_SF}S')
bvp_df.index = pd.date_range(start='2024-01-01', periods=len(bvp_df), freq=f'{1/BVP_SF}S')
eda_df.index = pd.date_range(start='2024-01-01', periods=len(eda_df), freq=f'{1/EDA_SF}S')
temp_df.index = pd.date_range(start='2024-01-01', periods=len(temp_df), freq=f'{1/TEMP_SF}S')

# prevzorkovanie pre labels
labels_index = pd.date_range(start='2024-01-01', periods=len(data['labels']), freq='700L')
labels_series = pd.Series(data['labels'], index=labels_index)

combined_df = pd.concat([acc_df, bvp_df, eda_df, temp_df], axis=1)
aligned_labels = labels_series.reindex(combined_df.index, method='nearest')
combined_df['labels'] = aligned_labels

In [18]:
combined_df

,ACC_0,ACC_1,ACC_2,BVP,EDA,TEMP,labels
2024-01-01 00:00:00.000000,126.326243,-1012.375512,1296.163595,13.570802,5452.450365,10279.722091,0.0
2024-01-01 00:00:00.015625,NaN,NaN,NaN,13.144006,NaN,NaN,0.0
2024-01-01 00:00:00.031250,233.101284,-738.134833,636.766616,13.032862,NaN,NaN,0.0
2024-01-01 00:00:00.046875,NaN,NaN,NaN,12.975067,NaN,NaN,0.0
2024-01-01 00:00:00.062500,411.059685,-738.134833,1024.647192,12.855030,NaN,NaN,0.0
...,...,...,...,...,...,...,...
2024-01-01 21:52:45.921875,NaN,NaN,NaN,-1.379833,NaN,NaN,0.0
2024-01-01 21:52:45.937500,57.652528,918.940551,887.251551,-2.860118,NaN,NaN,0.0
2024-01-01 21:52:45.953125,NaN,NaN,NaN,-4.340404,NaN,NaN,0.0
2024-01-01 21:52:45.968750,57.652528,918.940551,887.251551,-5.833341,NaN,NaN,0.0
2024-01-01 21:52:45.984375,NaN,NaN,NaN,-7.402191,NaN,NaN,0.0

In [20]:
# Kontrola prázdnych hodnôt
label_nan_df = combined_df[pd.isna(combined_df["labels"])]
print(label_nan_df)

Empty DataFrame
Columns: [ACC_0, ACC_1, ACC_2, BVP, EDA, TEMP, labels]
Index: []

In [23]:
# Kontrola rozloženia labels
label_1_df = combined_df[combined_df["labels"] == 0]
label_1_df

,ACC_0,ACC_1,ACC_2,BVP,EDA,TEMP,labels
2024-01-01 00:00:00.000000,126.326243,-1012.375512,1296.163595,13.570802,5452.450365,10279.722091,0.0
2024-01-01 00:00:00.015625,NaN,NaN,NaN,13.144006,NaN,NaN,0.0
2024-01-01 00:00:00.031250,233.101284,-738.134833,636.766616,13.032862,NaN,NaN,0.0
2024-01-01 00:00:00.046875,NaN,NaN,NaN,12.975067,NaN,NaN,0.0
2024-01-01 00:00:00.062500,411.059685,-738.134833,1024.647192,12.855030,NaN,NaN,0.0
...,...,...,...,...,...,...,...
2024-01-01 21:52:45.921875,NaN,NaN,NaN,-1.379833,NaN,NaN,0.0
2024-01-01 21:52:45.937500,57.652528,918.940551,887.251551,-2.860118,NaN,NaN,0.0
2024-01-01 21:52:45.953125,NaN,NaN,NaN,-4.340404,NaN,NaN,0.0
2024-01-01 21:52:45.968750,57.652528,918.940551,887.251551,-5.833341,NaN,NaN,0.0
2024-01-01 21:52:45.984375,NaN,NaN,NaN,-7.402191,NaN,NaN,0.0

In [25]:
# Kontrola rozloženia labels
label_1_df = combined_df[combined_df["labels"] == 1]
label_1_df

,ACC_0,ACC_1,ACC_2,BVP,EDA,TEMP,labels
2024-01-01 00:26:41.250000,-16.040479,564.508391,-2117.185476,11.063380,-1310.962411,10464.74854,1.0
2024-01-01 00:26:41.265625,NaN,NaN,NaN,10.098645,NaN,NaN,1.0
2024-01-01 00:26:41.281250,-16.040479,564.508391,-2117.185476,8.716006,NaN,NaN,1.0
2024-01-01 00:26:41.296875,NaN,NaN,NaN,6.982151,NaN,NaN,1.0
2024-01-01 00:26:41.312500,-16.040479,564.508391,-2117.185476,5.092693,NaN,NaN,1.0
...,...,...,...,...,...,...,...
2024-01-01 15:09:44.171875,NaN,NaN,NaN,-12.785489,NaN,NaN,1.0
2024-01-01 15:09:44.187500,-114.971379,-493.794487,583.870134,-15.137661,NaN,NaN,1.0
2024-01-01 15:09:44.203125,NaN,NaN,NaN,-16.749075,NaN,NaN,1.0
2024-01-01 15:09:44.218750,-114.971379,-493.794487,602.190987,-18.023461,NaN,NaN,1.0
2024-01-01 15:09:44.234375,NaN,NaN,NaN,-19.336464,NaN,NaN,1.0

In [26]:
# Odstránenie prázdnych hodnôt
cleaned_df = combined_df.dropna()

In [27]:
# Odstránenie prázdnych hodnôt z konkrétneho stlpca
cleaned_df_T = combined_df.dropna(subset=['TEMP'])

In [28]:
# Interpolácia chýbajúcich hodnôt 
interpolated_df = combined_df.interpolate(method='linear')

In [29]:
# Doplnenie chýbajúcich hodnôt
filled_df = combined_df.fillna(combined_df.mean())

In [30]:
cleaned_df_T

,ACC_0,ACC_1,ACC_2,BVP,EDA,TEMP,labels
2024-01-01 00:00:00.000,126.326243,-1012.375512,1296.163595,13.570802,5452.450365,10279.722091,0.0
2024-01-01 00:00:00.250,55.142882,-635.294579,753.130788,23.360416,5366.846848,10279.722091,0.0
2024-01-01 00:00:00.500,90.734562,-669.574663,636.766616,41.930454,5264.122627,10279.722091,0.0
2024-01-01 00:00:00.750,161.917923,-395.333985,675.554673,-17.274044,5115.746165,10279.722091,0.0
2024-01-01 00:00:01.000,90.734562,-669.574663,636.766616,41.930454,5264.122627,10279.722091,0.0
...,...,...,...,...,...,...,...
2024-01-01 21:52:44.750,57.652528,918.940551,887.251551,-21.989961,-1141.515991,-11412.917628,0.0
2024-01-01 21:52:45.000,57.652528,918.940551,887.251551,6.970496,-1141.515991,-11802.683112,0.0
2024-01-01 21:52:45.250,57.652528,918.940551,887.251551,-21.989961,-1141.515991,-11412.917628,0.0
2024-01-01 21:52:45.500,57.652528,918.940551,887.251551,11.107704,-1136.589079,-11412.917628,0.0
2024-01-01 21:52:45.750,57.652528,918.940551,887.251551,9.184598,-1151.365964,-11412.917628,0.0

In [31]:
interpolated_df

,ACC_0,ACC_1,ACC_2,BVP,EDA,TEMP,labels
2024-01-01 00:00:00.000000,126.326243,-1012.375512,1296.163595,13.570802,5452.450365,10279.722091,0.0
2024-01-01 00:00:00.015625,179.713763,-875.255173,966.465105,13.144006,5447.100145,10279.722091,0.0
2024-01-01 00:00:00.031250,233.101284,-738.134833,636.766616,13.032862,5441.749925,10279.722091,0.0
2024-01-01 00:00:00.046875,322.080484,-738.134833,830.706904,12.975067,5436.399706,10279.722091,0.0
2024-01-01 00:00:00.062500,411.059685,-738.134833,1024.647192,12.855030,5431.049486,10279.722091,0.0
...,...,...,...,...,...,...,...
2024-01-01 21:52:45.921875,57.652528,918.940551,887.251551,-1.379833,-1151.365964,-11412.917628,0.0
2024-01-01 21:52:45.937500,57.652528,918.940551,887.251551,-2.860118,-1151.365964,-11412.917628,0.0
2024-01-01 21:52:45.953125,57.652528,918.940551,887.251551,-4.340404,-1151.365964,-11412.917628,0.0
2024-01-01 21:52:45.968750,57.652528,918.940551,887.251551,-5.833341,-1151.365964,-11412.917628,0.0
2024-01-01 21:52:45.984375,57.652528,918.940551,887.251551,-7.402191,-1151.365964,-11412.917628,0.0

In [32]:
filled_df

,ACC_0,ACC_1,ACC_2,BVP,EDA,TEMP,labels
2024-01-01 00:00:00.000000,1.263262e+02,-1.012376e+03,1.296164e+03,13.570802,5.452450e+03,1.027972e+04,0.0
2024-01-01 00:00:00.015625,1.363676e-14,3.242339e-14,-3.103778e-14,13.144006,-1.489259e-11,2.622013e-09,0.0
2024-01-01 00:00:00.031250,2.331013e+02,-7.381348e+02,6.367666e+02,13.032862,-1.489259e-11,2.622013e-09,0.0
2024-01-01 00:00:00.046875,1.363676e-14,3.242339e-14,-3.103778e-14,12.975067,-1.489259e-11,2.622013e-09,0.0
2024-01-01 00:00:00.062500,4.110597e+02,-7.381348e+02,1.024647e+03,12.855030,-1.489259e-11,2.622013e-09,0.0
...,...,...,...,...,...,...,...
2024-01-01 21:52:45.921875,1.363676e-14,3.242339e-14,-3.103778e-14,-1.379833,-1.489259e-11,2.622013e-09,0.0
2024-01-01 21:52:45.937500,5.765253e+01,9.189406e+02,8.872516e+02,-2.860118,-1.489259e-11,2.622013e-09,0.0
2024-01-01 21:52:45.953125,1.363676e-14,3.242339e-14,-3.103778e-14,-4.340404,-1.489259e-11,2.622013e-09,0.0
2024-01-01 21:52:45.968750,5.765253e+01,9.189406e+02,8.872516e+02,-5.833341,-1.489259e-11,2.622013e-09,0.0
2024-01-01 21:52:45.984375,1.363676e-14,3.242339e-14,-3.103778e-14,-7.402191,-1.489259e-11,2.622013e-09,0.0

In [34]:
# Kontrola hodnôt
interpolated_df_label_df = interpolated_df[interpolated_df["labels"]==0]
interpolated_df_label_df

,ACC_0,ACC_1,ACC_2,BVP,EDA,TEMP,labels
2024-01-01 00:00:00.000000,126.326243,-1012.375512,1296.163595,13.570802,5452.450365,10279.722091,0.0
2024-01-01 00:00:00.015625,179.713763,-875.255173,966.465105,13.144006,5447.100145,10279.722091,0.0
2024-01-01 00:00:00.031250,233.101284,-738.134833,636.766616,13.032862,5441.749925,10279.722091,0.0
2024-01-01 00:00:00.046875,322.080484,-738.134833,830.706904,12.975067,5436.399706,10279.722091,0.0
2024-01-01 00:00:00.062500,411.059685,-738.134833,1024.647192,12.855030,5431.049486,10279.722091,0.0
...,...,...,...,...,...,...,...
2024-01-01 21:52:45.921875,57.652528,918.940551,887.251551,-1.379833,-1151.365964,-11412.917628,0.0
2024-01-01 21:52:45.937500,57.652528,918.940551,887.251551,-2.860118,-1151.365964,-11412.917628,0.0
2024-01-01 21:52:45.953125,57.652528,918.940551,887.251551,-4.340404,-1151.365964,-11412.917628,0.0
2024-01-01 21:52:45.968750,57.652528,918.940551,887.251551,-5.833341,-1151.365964,-11412.917628,0.0
2024-01-01 21:52:45.984375,57.652528,918.940551,887.251551,-7.402191,-1151.365964,-11412.917628,0.0

In [35]:
# Kontrol hodnôt
interpolated_df_label_df = interpolated_df[interpolated_df["labels"]==1]
interpolated_df_label_df

,ACC_0,ACC_1,ACC_2,BVP,EDA,TEMP,labels
2024-01-01 00:26:41.250000,-16.040479,564.508391,-2117.185476,11.063380,-1310.962411,10464.748540,1.0
2024-01-01 00:26:41.265625,-16.040479,564.508391,-2117.185476,10.098645,-1310.962411,10453.184387,1.0
2024-01-01 00:26:41.281250,-16.040479,564.508391,-2117.185476,8.716006,-1310.962411,10441.620234,1.0
2024-01-01 00:26:41.296875,-16.040479,564.508391,-2117.185476,6.982151,-1310.962411,10430.056081,1.0
2024-01-01 00:26:41.312500,-16.040479,564.508391,-2117.185476,5.092693,-1310.962411,10418.491928,1.0
...,...,...,...,...,...,...,...
2024-01-01 15:09:44.171875,-114.971379,-493.794487,583.870134,-12.785489,-4527.553969,4038.663663,1.0
2024-01-01 15:09:44.187500,-114.971379,-493.794487,583.870134,-15.137661,-4527.553969,4038.663663,1.0
2024-01-01 15:09:44.203125,-114.971379,-493.794487,593.030560,-16.749075,-4527.553969,4038.663663,1.0
2024-01-01 15:09:44.218750,-114.971379,-493.794487,602.190987,-18.023461,-4527.553969,4038.663663,1.0
2024-01-01 15:09:44.234375,-118.607585,-478.585050,602.190987,-19.336464,-4527.553969,4038.663663,1.0

In [66]:
ACC_SF = 32
BVP_SF = 64
EDA_SF = 4
TEMP_SF = 4
LABELS_SF = 700  

acc_df = pd.DataFrame(data['data']['ACC'].reshape(-1, 3), columns=[f'ACC_{i}' for i in range(3)])
bvp_df = pd.DataFrame(data['data']['BVP'].reshape(-1, 1), columns=['BVP'])
eda_df = pd.DataFrame(data['data']['EDA'].reshape(-1, 1), columns=['EDA'])
temp_df = pd.DataFrame(data['data']['TEMP'].reshape(-1, 1), columns=['TEMP'])

acc_df.index = pd.date_range(start='2024-01-01', periods=len(acc_df), freq=f'{1/ACC_SF}S')
bvp_df.index = pd.date_range(start='2024-01-01', periods=len(bvp_df), freq=f'{1/BVP_SF}S')
eda_df.index = pd.date_range(start='2024-01-01', periods=len(eda_df), freq=f'{1/EDA_SF}S')
temp_df.index = pd.date_range(start='2024-01-01', periods=len(temp_df), freq=f'{1/TEMP_SF}S')

labels_index = pd.date_range(start='2024-01-01', periods=len(data['labels']), freq='700L')
labels_series = pd.Series(data['labels'], index=labels_index)

combined_df = pd.concat([acc_df, bvp_df, eda_df, temp_df], axis=1)
aligned_labels = labels_series.reindex(combined_df.index, method='nearest')

# pridávam id
combined_df['labels'] = aligned_labels
repeated_ids = np.repeat(data['id'], len(combined_df) // len(data['id']) + 1)[:len(combined_df)]
combined_df['id'] = repeated_ids

In [67]:
combined_df

,ACC_0,ACC_1,ACC_2,BVP,EDA,TEMP,labels,id
2024-01-01 00:00:00.000000,126.326243,-1012.375512,1296.163595,13.570802,5452.450365,10279.722091,0.0,2
2024-01-01 00:00:00.015625,NaN,NaN,NaN,13.144006,NaN,NaN,0.0,2
2024-01-01 00:00:00.031250,233.101284,-738.134833,636.766616,13.032862,NaN,NaN,0.0,2
2024-01-01 00:00:00.046875,NaN,NaN,NaN,12.975067,NaN,NaN,0.0,2
2024-01-01 00:00:00.062500,411.059685,-738.134833,1024.647192,12.855030,NaN,NaN,0.0,2
...,...,...,...,...,...,...,...,...
2024-01-01 21:52:45.921875,NaN,NaN,NaN,-1.379833,NaN,NaN,0.0,17
2024-01-01 21:52:45.937500,57.652528,918.940551,887.251551,-2.860118,NaN,NaN,0.0,17
2024-01-01 21:52:45.953125,NaN,NaN,NaN,-4.340404,NaN,NaN,0.0,17
2024-01-01 21:52:45.968750,57.652528,918.940551,887.251551,-5.833341,NaN,NaN,0.0,17
2024-01-01 21:52:45.984375,NaN,NaN,NaN,-7.402191,NaN,NaN,0.0,17

In [68]:
combined_df.to_csv('WESAD_All_M.csv', index=False)

In [42]:
cleaned_df = combined_df.dropna()

In [43]:
cleaned_df

,ACC_0,ACC_1,ACC_2,BVP,EDA,TEMP,labels,id
2024-01-01 00:00:00.000,126.326243,-1012.375512,1296.163595,13.570802,5452.450365,10279.722091,0.0,2
2024-01-01 00:00:00.250,55.142882,-635.294579,753.130788,23.360416,5366.846848,10279.722091,0.0,2
2024-01-01 00:00:00.500,90.734562,-669.574663,636.766616,41.930454,5264.122627,10279.722091,0.0,2
2024-01-01 00:00:00.750,161.917923,-395.333985,675.554673,-17.274044,5115.746165,10279.722091,0.0,2
2024-01-01 00:00:01.000,90.734562,-669.574663,636.766616,41.930454,5264.122627,10279.722091,0.0,2
...,...,...,...,...,...,...,...,...
2024-01-01 21:52:44.750,57.652528,918.940551,887.251551,-21.989961,-1141.515991,-11412.917628,0.0,17
2024-01-01 21:52:45.000,57.652528,918.940551,887.251551,6.970496,-1141.515991,-11802.683112,0.0,17
2024-01-01 21:52:45.250,57.652528,918.940551,887.251551,-21.989961,-1141.515991,-11412.917628,0.0,17
2024-01-01 21:52:45.500,57.652528,918.940551,887.251551,11.107704,-1136.589079,-11412.917628,0.0,17
2024-01-01 21:52:45.750,57.652528,918.940551,887.251551,9.184598,-1151.365964,-11412.917628,0.0,17

In [47]:
# KLontrola
label_1_df = cleaned_df[cleaned_df["labels"] == 0]
label_1_df

,ACC_0,ACC_1,ACC_2,BVP,EDA,TEMP,labels,id
2024-01-01 00:00:00.000,126.326243,-1012.375512,1296.163595,13.570802,5452.450365,10279.722091,0.0,2
2024-01-01 00:00:00.250,55.142882,-635.294579,753.130788,23.360416,5366.846848,10279.722091,0.0,2
2024-01-01 00:00:00.500,90.734562,-669.574663,636.766616,41.930454,5264.122627,10279.722091,0.0,2
2024-01-01 00:00:00.750,161.917923,-395.333985,675.554673,-17.274044,5115.746165,10279.722091,0.0,2
2024-01-01 00:00:01.000,90.734562,-669.574663,636.766616,41.930454,5264.122627,10279.722091,0.0,2
...,...,...,...,...,...,...,...,...
2024-01-01 21:52:44.750,57.652528,918.940551,887.251551,-21.989961,-1141.515991,-11412.917628,0.0,17
2024-01-01 21:52:45.000,57.652528,918.940551,887.251551,6.970496,-1141.515991,-11802.683112,0.0,17
2024-01-01 21:52:45.250,57.652528,918.940551,887.251551,-21.989961,-1141.515991,-11412.917628,0.0,17
2024-01-01 21:52:45.500,57.652528,918.940551,887.251551,11.107704,-1136.589079,-11412.917628,0.0,17
2024-01-01 21:52:45.750,57.652528,918.940551,887.251551,9.184598,-1151.365964,-11412.917628,0.0,17

In [51]:
id_1_df = cleaned_df[cleaned_df["id"] == "3"]
id_1_df

,ACC_0,ACC_1,ACC_2,BVP,EDA,TEMP,labels,id
2024-01-01 01:25:33.000,-11.086215,-414.204053,383.042854,15.714244,4577.287725,6674.579321,0.0,3
2024-01-01 01:25:33.250,-11.086215,-414.204053,383.042854,-6.605105,4577.287725,6674.579321,0.0,3
2024-01-01 01:25:33.500,-11.086215,-414.204053,383.042854,-50.199724,4570.631500,6674.579321,1.0,3
2024-01-01 01:25:33.750,-11.086215,-414.204053,383.042854,14.550352,4563.976314,6674.579321,1.0,3
2024-01-01 01:25:34.000,-11.086215,-414.204053,383.042854,-50.199724,4570.631500,6674.579321,1.0,3
...,...,...,...,...,...,...,...,...
2024-01-01 02:52:11.750,113.825460,-424.070394,-444.376783,-62.430979,-4186.446215,7382.626174,0.0,3
2024-01-01 02:52:12.000,113.825460,-424.070394,-444.376783,-9.828335,-4175.871643,7382.626174,0.0,3
2024-01-01 02:52:12.250,113.825460,-424.070394,-444.376783,-62.430979,-4186.446215,7382.626174,0.0,3
2024-01-01 02:52:12.500,113.825460,-424.070394,-444.376783,37.146828,-4218.169931,7382.626174,0.0,3
2024-01-01 02:52:12.750,87.337507,-424.070394,-444.376783,23.373805,-4186.446215,7382.626174,0.0,3

In [53]:
cleaned_df.to_csv('WESAD_All_W.csv', index=False) #uloženie hodnôt kde som odrsránil prázdne premenné

In [63]:
# Kontrola prázdnych hodnôt
nan_df = cleaned_df[pd.isna(cleaned_df).any(axis=1)]
print(nan_df)

Empty DataFrame
Columns: [ACC_0, ACC_1, ACC_2, BVP, EDA, TEMP, labels, id]
Index: []

In [72]:
# Interpolácia chýbajúcich hodnôt 
interpolated_df = combined_df.interpolate(method='linear')

C:\Users\admin\AppData\Local\Temp\ipykernel_2888\1945346133.py:2: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  interpolated_df = combined_df.interpolate(method='linear')

In [73]:
interpolated_df

,ACC_0,ACC_1,ACC_2,BVP,EDA,TEMP,labels,id
2024-01-01 00:00:00.000000,126.326243,-1012.375512,1296.163595,13.570802,5452.450365,10279.722091,0.0,2
2024-01-01 00:00:00.015625,179.713763,-875.255173,966.465105,13.144006,5447.100145,10279.722091,0.0,2
2024-01-01 00:00:00.031250,233.101284,-738.134833,636.766616,13.032862,5441.749925,10279.722091,0.0,2
2024-01-01 00:00:00.046875,322.080484,-738.134833,830.706904,12.975067,5436.399706,10279.722091,0.0,2
2024-01-01 00:00:00.062500,411.059685,-738.134833,1024.647192,12.855030,5431.049486,10279.722091,0.0,2
...,...,...,...,...,...,...,...,...
2024-01-01 21:52:45.921875,57.652528,918.940551,887.251551,-1.379833,-1151.365964,-11412.917628,0.0,17
2024-01-01 21:52:45.937500,57.652528,918.940551,887.251551,-2.860118,-1151.365964,-11412.917628,0.0,17
2024-01-01 21:52:45.953125,57.652528,918.940551,887.251551,-4.340404,-1151.365964,-11412.917628,0.0,17
2024-01-01 21:52:45.968750,57.652528,918.940551,887.251551,-5.833341,-1151.365964,-11412.917628,0.0,17
2024-01-01 21:52:45.984375,57.652528,918.940551,887.251551,-7.402191,-1151.365964,-11412.917628,0.0,17

In [74]:
interpolated_df.to_csv('WESAD_All_I.csv', index=False) #uloženie hodnôt kde som interpoloval prázdne premenné